/*======= GENERAL =======*/
/*=======================*/

@font-face {
    font-family: hades;
    src: url(../fonts/Hades.ttf);
}

@font-face {
    font-family: aventura;
    src: url(../fonts/aventura.otf);
}

@font-face {
    font-family: kust;
    src: url(../fonts/kust.otf);
}

* {
    margin: 0;
    padding: 0;
}




/*==========================*/
/*======= INFO PANEL =======*/
/*==========================*/

.info {
    margin: 0;
    padding: 0;
    background: rgba(20, 20, 20, 0.692);
    display: flex;
    justify-content: center;
}

.info-panel {
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.info-left {
    float:left;
    width: 500px;
}

.info-left li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.info-left li a:hover {
    text-decoration: none;
    color: rgb(221, 221, 221);
}


.info-right {
    float:right;
}

.info ul {
    height: 1.5vh;
}

.info ul li {
    display: inline;
}

.info li a {
    color: white;
}

.info-right a {
    margin-left: 1em;
}




/*==================================*/
/*======= SOCIAL MEDIA ICONS =======*/
/*==================================*/

.facebook {
    text-align: center;
    width: 2.5em;
    align-self: center;
}

.facebook a {
    color: white;
}

.facebook a:hover {
    color: #3b5998;
}

.instagram {
    text-align: center;
    width: 2.5em;
    align-self: center;
}

.instagram a {
    color: white;
}

.instagram a:hover {
    color: #e95950;
}

.youtube {
    text-align: center;
    width: 2.5em;
    align-self: center;
}

.youtube a {
    color: white;
}

.youtube a:hover {
    color: #ff0000;
}

.googleplus {
    text-align: center;
    width: 2.5em;
    align-self: center;
}

.googleplus a {
    color: white;
}

.googleplus a:hover {
    color: #dd4b39;
}

.twitter {
    text-align: center;
    width: 2.5em;
    align-self: center;
}

.twitter a {
    color: white;
}

.twitter a:hover {
    color: #55acee;
}




/*========================*/
/*======= MAIN NAV =======*/
/*========================*/

.toggle {
    width: 100%;
    padding: 10px 20px;
    text-align: right;
    box-sizing: border-box;
    color: white;
    font-size: 2em;
    display: none;
}

.main-nav {
    width: 100%;
    background: rgba(0, 0, 0, 0.479);
}

.mainnav-items {
    width: 60%;
    display: flex;
    margin: auto;
    list-style: none;
}

.mainnav-items a {
    color: white;
    text-decoration: none;
}

.nav-items {
    font-size: 16px;
    display: inline;
    flex-grow: 3;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;

    font-family: aventura;
    text-transform: uppercase;
}

.nav-items:hover {
    background-color: rgba(0, 0, 0, 0.479);
    transition: ease-in-out 200ms;
    box-shadow: 1px 0 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-items a:active {
    background-color: rgba(0, 0, 0, 0.479);
    box-shadow: 1px 0 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




/*======================*/
/*======= BANNER =======*/
/*======================*/

.banner {
    background: linear-gradient(to bottom, rgba(0, 217, 255, 0.411), transparent),
                url(https://images.unsplash.com/photo-1468082547792-d37c6c74003e?ixlib=rb-0.3.5&s=3d0350b28df366b170719a7d6c07aa5e&auto=format&fit=crop&w=1955&q=80);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    padding-bottom: 3em;
    height: 100vh;
}

.banner-title {
    width: 100%;
    text-align: center;
    font-family: kust;
    font-size: 6em;
    color: white;
    margin-top: 0.5em;
    color: rgb(26, 26, 26);
}

.optin-button {
    margin-top: 2em;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.optin-trigger {
    background: orange;
    padding: 0.5em 2em;
    border-radius: 2em;
    color: white;
    font-family: arial;
    border: none;
    transition: ease-in-out 200ms;
}

.optin-trigger:hover {
    transform: scale(1.5);
    transition: ease-in-out 200ms;
}

.container.form {
    margin-top: 5em;
    width: 50%;
    display: none;
}

.form {
    background: rgba(255, 255, 255, 0.548);
    width: 100%;
    border-radius: 1em;
}

.row.form {
    background: none;
}

.col.ebook {
    display: flex;
    justify-content: center;
}

.col.ebook img {
    height: 27em;
    width: auto;
    align-self: center;
}

#form-title {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.container.form.col {
    display: flex;
    justify-content: center;
}

.ebook-form {
    text-align: justify;
    font-family: arial;
}

.form-input {
    width: 100%;
    margin-bottom: 0.5em;
}

.newsletter {
    margin-top: 0.5em;
    margin-bottom: 2em;
    margin-right: 0.5em;
}

.newsletter-info {
    font-size: 0.7em;
}

.sign-up {
    width: 100%;
    background: orange;
    border: orange;
    border-radius: 1em;
    margin-bottom: 1em;
    height: 2em;
}

/*=======================*/
/*======= SECTION =======*/
/*=======================*/

.section1 {
    width: 100%;
    padding: 0;
    padding-top: 7em;
}

.spotoftheweek {
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    background: rgb(243, 243, 243);
    display: flex;
}

.sotw-left {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#title-section1 {
    text-align: left;
    margin-bottom: 0.5em;
    font-family: aventura;
    text-transform: uppercase;
}

#kohphangan {
    height: 300px;
    margin-left: 5em;
    margin-top: 0.5em;
    background: url(../img/svg/sunandwaves.svg);
    background-size: 300 auto;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: auto;

}

.sotw-right {
    margin-left: 2em;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 10em;
    text-align: justify;
}

.more-button {
    width: 300px;
    margin-top: 3em;
    margin-left: auto;
    margin-bottom: 2em;
}




/*===========================*/
/*======= GRID SLIDER =======*/
/*===========================*/

.sr #slide { visibility: hidden; }

.image-grid {
    display: flex;
    height: 800px;
    justify-content: center;
    margin-top: 5em;
}

.second-image-grid {
    display: flex;
    height: 800px;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 10em;
}

.portfolio {
    display: grid;
    width: 70%;
    height: 100%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    z-index: 1;
}

.portfolio-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.medial {
    grid-row: span 2;
    grid-column: span 1;
}

.medium {
    grid-row: span 2;
    grid-column: span 2;
}

.large {
    grid-row: span 3;
    grid-column: span 3;
}

.tall {
    grid-row: span 3;
    grid-column: span 1;
}

.giant {
    grid-row: span 6;
    grid-column: span 2;
}

.square {
    grid-row: span 2;
    grid-column: span 3;
}

.flat {
    grid-row: span 1;
    grid-column: span 2;
}




/*============================*/
/*======= GRID EFFECTS =======*/

.small.one {
    background: url(https://images.unsplash.com/photo-1504532724559-22878efd533a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f50a07dc64c3d92f605cebee5cfa600c&auto=format&fit=crop&w=2134&q=80);
    background-size: 250px auto;
    background-position: bottom;
    transition: ease-in-out 1s;
    background-color: rgba(19, 19, 19, 0.342);
    background-blend-mode: multiply;
    font-size: 2em;
    color: rgb(216, 216, 216);
}

.small.one:hover {
    background-position: top;
    transition: ease-in-out 1s;
    background-color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0);
}


/*--*/
.small.two {
    background: url(https://images.unsplash.com/photo-1468746587034-766ade47c1ac?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=be8f7fc6afea3ee633a7692ddf2cabe3&auto=format&fit=crop&w=1350&q=80);
    background-size: 250px auto;
    background-position: bottom;
    transition: ease-in-out 1s;
    background-color: rgba(19, 19, 19, 0.342);
    background-blend-mode: multiply;
    font-size: 2em;
    color: rgb(216, 216, 216);
}

.small.two:hover {
    background-position: top;
    transition: ease-in-out 1s;
    background-color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0);
}


/*--*/
.medial.one {
    background: url(https://images.unsplash.com/photo-1500111609242-145a52dcc944?ixlib=rb-0.3.5&s=32d9e7c412a6ddc2be01b2585f851bbb&auto=format&fit=crop&w=1951&q=80);
    background-size: cover;
    background-position: left;
    transition: ease-in-out 1s;
    background-color: rgba(19, 19, 19, 0.342);
    background-blend-mode: multiply;
    font-size: 2em;
    color: rgb(216, 216, 216);
}

.medial.one:hover {
    background-position: right;
    transition: ease-in-out 1s;
    background-color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0);
}


/*--*/
.medial.two {
    background: url(https://images.unsplash.com/photo-1505898125972-140632e33968?ixlib=rb-0.3.5&s=68798aac45fb3878e264ad157c3ce193&auto=format&fit=crop&w=2000&q=80);
    background-size: 500px auto;
    background-position: bottom;
    transition: ease-in-out 1s;
    background-color: rgba(19, 19, 19, 0.342);
    background-blend-mode: multiply;
    font-size: 2em;
    color: rgb(216, 216, 216);
}

.medial.two:hover {
    background-position: top;
    transition: ease-in-out 2s;
    background-color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0);
}


/*--*/
.medial.three {
    background: url(https://images.unsplash.com/photo-1447927228194-acfa3d1b45c4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1cfd041f380c030515cf0b347a52ff3f&auto=format&fit=crop&w=1950&q=80);
    background-size: 500px auto;
    background-position: bottom;
    transition: ease-in-out 1s;
    background-color: rgba(19, 19, 19, 0.342);
    background-blend-mode: multiply;
    font-size: 2em;
    color: rgb(216, 216, 216);
}

.medial.three:hover {
    background-position: top;
    transition: ease-in-out 2s;
    background-color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0);
}


/*--*/
.medial.four {
    background: url(https://images.unsplash.com/photo-1447927228194-acfa3d1b45c4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1cfd041f380c030515cf0b347a52ff3f&auto=format&fit=crop&w=1950&q=80);
    background-size: 500px auto;
    background-position: bottom;
    transition: ease-in-out 1s;
    background-color: rgba(19, 19, 19, 0.342);
    background-blend-mode: multiply;
    font-size: 2em;
    color: rgb(216, 216, 216);
}

.medial.four:hover {
    background-position: top;
    transition: ease-in-out 2s;
    background-color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0);
}


/*--*/
.medium.one {
    background: url(https://images.unsplash.com/photo-1511265753106-52a8e3488b70?ixlib=rb-0.3.5&s=dab7a8d68b570366fbf86d8deaccd45a&auto=format&fit=crop&w=1953&q=80);
    background-size: cover;
    background-position: top;
    transition: ease-in-out 1s;
    background-color: rgba(19, 19, 19, 0.342);
    background-blend-mode: multiply;
    font-size: 2em;
    color: rgb(216, 216, 216);
}

.medium.one:hover {
    background-position: bottom;
    transition: ease-in-out 1s;
    background-color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0);
}


/*--*/
.medium.two {
    background: url(https://images.unsplash.com/photo-1500878555357-5c67150cb136?ixlib=rb-0.3.5&s=9a223bec747b195546b1fe2628e70f44&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
    background-position: top;
    transition: ease-in-out 1s;
    background-color: rgba(19, 19, 19, 0.342);
    background-blend-mode: multiply;
    font-size: 2em;
    color: rgb(216, 216, 216);
}

.medium.two:hover {
    background-position: bottom;
    transition: ease-in-out 1s;
    background-color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0);
}


/*--*/
.medium.three {
    background: url(https://images.unsplash.com/photo-1464881522406-d5f66adb3e3e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d5aff1a8c1a8170a74e0cbb218bcfbc0&auto=format&fit=crop&w=1355&q=80);
    background-size: 650px auto;
    background-position: left bottom;
    transition: ease-in-out 1s;
    background-color: rgba(19, 19, 19, 0.342);
    background-blend-mode: multiply;
    font-size: 2em;
    color: rgb(216, 216, 216);
}

.medium.three:hover {
    background-position: right top;
    transition: ease-in-out 1s;
    background-color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0);
}


/*--*/
.medium.four {
    background: url(https://images.unsplash.com/photo-1506823720845-ff44e02f550a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cc0e9c6558c6539b61159f5f46341651&auto=format&fit=crop&w=1267&q=80);
    background-size: 650px auto;
    background-position: left bottom;
    transition: ease-in-out 1s;
    background-color: rgba(19, 19, 19, 0.342);
    background-blend-mode: multiply;
    font-size: 2em;
    color: rgb(216, 216, 216);
}

.medium.four:hover {
    background-position: right top;
    transition: ease-in-out 1s;
    background-color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0);
}


/*--*/
.large.one {
    background: url(https://images.unsplash.com/photo-1515554892735-2976f1dfda07?ixlib=rb-0.3.5&s=3e93e29b73a2ab7d207d8ffb0de5be06&auto=format&fit=crop&w=1950&q=80);
    background-size: 900px auto;
    background-position: left;
    transition: ease-in-out 1s;
    background-color: rgba(19, 19, 19, 0.342);
    background-blend-mode: multiply;
    font-size: 2em;
    color: rgb(216, 216, 216);
}

.large.one:hover {
    background-position: right bottom;
    transition: ease-in-out 1s;
    background-color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0);
}


/*--*/
.tall.one {
    background: url(https://images.unsplash.com/photo-1510380496746-11b4fc7d1aad?ixlib=rb-0.3.5&s=4381202ee943a7428defe82939109559&auto=format&fit=crop&w=1350&q=80);
    background-size: auto 500px;
    background-position: top;
    transition: ease-in-out 1s;
    background-color: rgba(19, 19, 19, 0.342);
    background-blend-mode: multiply;
    font-size: 2em;
    color: rgb(216, 216, 216);
}

.tall.one:hover {
    background-position: bottom;
    transition: ease-in-out 1s;
    background-color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0);
}


/*--*/
.tall.two {
    background: url(https://images.unsplash.com/photo-1469286714608-0defd688c4e3?ixlib=rb-0.3.5&s=d7fbb54d77f8fd53d53519aeb3d1980e&auto=format&fit=crop&w=1920&q=80);
    background-size: auto 500px;
    background-position: top;
    transition: ease-in-out 1s;
    background-color: rgba(19, 19, 19, 0.342);
    background-blend-mode: multiply;
    font-size: 2em;
    color: rgb(216, 216, 216);
}

.tall.two:hover {
    background-position: bottom;
    transition: ease-in-out 1s;
    background-color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0);
}


/*--*/
.wide.one {
    background: url(https://images.unsplash.com/photo-1486262322291-6f4dbcd69e10?ixlib=rb-0.3.5&s=1ffc652aca6723b1a6f79b4b68aa24fb&auto=format&fit=crop&w=1350&q=80);
    background-size: 500px auto;
    background-position: right top;
    transition: ease-in-out 3s;
    background-color: rgba(19, 19, 19, 0.342);
    background-blend-mode: multiply;
    font-size: 2em;
    color: rgb(216, 216, 216);
}

.wide.one:hover {
    background-position: left bottom;
    transition: ease-in-out 3s;
    background-color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0);
}


/*--*/
.flat.one {
    background: url(https://images.unsplash.com/photo-1463468217891-c11f48e6310a?ixlib=rb-0.3.5&s=e532f7361e6225eb37ce33685042d10d&auto=format&fit=crop&w=1267&q=80);
    background-size: cover;
    background-position: center;
    transition: ease-in-out 3s;
    background-color: rgba(19, 19, 19, 0.342);
    background-blend-mode: multiply;
    font-size: 2em;
    color: rgb(216, 216, 216);
}

.flat.one:hover {
    background-position: top;
    transition: ease-in-out 3s;
    background-color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0);
}


/*--*/
.square.one {
    background: url(https://images.unsplash.com/photo-1495567720989-cebdbdd97913?ixlib=rb-0.3.5&s=8b32b805491bca6c6895ce342e4b1b7b&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    background-position: bottom;
    transition: ease-in-out 2s;
    background-color: rgba(19, 19, 19, 0.342);
    background-blend-mode: multiply;
    font-size: 2em;
    color: rgb(216, 216, 216);
}

.square.one:hover {
    background-position: center;
    transition: ease-in-out 2s;
    background-color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0);
}


/*--*/
.giant.one {
    background: url(https://images.unsplash.com/photo-1480174135032-57e5cbab1f1e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9139c084762a3039669c70ccf03a32c1&auto=format&fit=crop&w=1934&q=80);
    background-size: cover;
    background-position: right top;
    transition: ease-in-out 2s;
    background-color: rgba(19, 19, 19, 0.342);
    background-blend-mode: multiply;
    font-size: 2em;
    color: rgb(216, 216, 216);
}

.giant.one:hover {
    background-position: left bottom;
    transition: ease-in-out 2s;
    background-color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0);
}





.section-title {
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
}

#section-title {
    margin-left: 2em;
    margin-right: 2em;
}

.border-title {
    width: 10%;
    align-self: center;
    border-bottom: 2px solid black;
}

.wrapper {
    width: 71%;
    height: 15em;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

.top-img {
    width: 30%;
    height: 100%;
    border-radius: 1em;
}

#img1 {
    background: url(http://static.asiawebdirect.com/m/.imaging/678x452/website/phuket/portals/kosamui-com/homepage/ko-phangan/best-things-to-do-in-koh-phangan/allParagraphs/00/top10Set/0/image.jpg);
    background-size: cover;
}

#img2 {
    background: url(https://images.unsplash.com/photo-1483683804023-6ccdb62f86ef?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e796ac1a98a8f907a9d8175b1577aec3&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
}

#img3 {
    background: url(http://static.asiawebdirect.com/m/phuket/portals/kosamui-com/homepage/ko-phangan/haad-rin/pagePropertiesImage/haad-rin.jpg.jpg);
    background-size: cover;
}

#img4 {
    background: url(https://images.unsplash.com/photo-1505325681473-5e712b2eadca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=42268883c25739c07af3d28d8f2030de&auto=format&fit=crop&w=1267&q=80); 
    background-size: cover;
}

#img5 {
    background: url(https://images.unsplash.com/photo-1482685945432-29a7abf2f466?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3f4cadd6e2f2c8a070c52cf4ab7ad3f2&auto=format&fit=crop&w=1366&q=80);
    background-size: cover;
}

#img6 {
    background: url(http://www.slipnflyparty.com/assets/img/gallery/fac-001-1200x900.jpg);
    background-size: cover;
}

#img7 {
    background: url(https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/16472859_1396581817053526_2973438612749417048_n.jpg?oh=fc16c7af7423eb4770b55349482c522f&oe=5ADA2F77);
    background-size: cover;
}

#img8 {
    background: url(https://images.unsplash.com/photo-1485873174476-292bc2df1cc0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a9dc98ab145c4725b6ed02dd78e41527&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
}

#img9 {
    background: url(https://images.unsplash.com/photo-1506238217901-461cd53b83b0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=953bb1eb0498a8e28aa10c4e289b1719&auto=format&fit=crop&w=1350&q=80); 
    background-size: cover;
}

#img10 {
    background: url(https://images.unsplash.com/photo-1503764654157-72d979d9af2f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=71cdddf5cc615224cf2c26614d20154d&auto=format&fit=crop&w=1353&q=80);
    background-size: cover;
}

.top-description {
    width: 60%;
    margin-left: 2em;
    text-align: justify;
    align-self: center;
}


/*=============================*/
/*======= MEDIA QUERIES =======*/
/*=============================*/

/*=====SMARTPHONES=====*/
/*== 480px ==*/
@media only screen and (max-width : 480px) {

    .info {
        display: none;
    }

    .toggle {
        display: block;
    }

    .mainnav-items {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        display: none;
    }

    .active {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .banner {
        height: 100vh;
    }

    .banner-title {
        margin-top: 0;
    }

    .section1 {
        padding-top: 0;
        border-top: 5px solid black;
    }

    .spotoftheweek {
        box-shadow: none;
        background: white;
        width: 90%;
    }

    .sotw-left {
        margin-top: 3em;
    }

    #kohphangan {
        margin: auto;
        width: 20em;
        height: auto;
    }

    .sotw-right {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #title-section1 {
        text-align: center;
        font-size: 1.5em;
    }

    .more-button {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .image-grid {
        margin-top: 2em;
    }
    
    .second-image-grid {
        margin-top: 1.4em;
        margin-bottom: 5em;
    }
    
    .portfolio {
        width: 90%;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(4, 1fr);
        font-size: 0.8em;
    }

    .small {
        display: none;
    }

    .medial {
        grid-row: span 2;
        grid-column: span 2;
    }

    .medial.one {
        grid-row: span 3;
        grid-column: span 2;
    }

    .medial.two {
        grid-row: span 3;
        grid-column: span 4;
    }

    .medial.three {
        grid-row: span 3;
        grid-column: span 3;
    }
    
    .medium {
        grid-row: span 2;
        grid-column: span 4;
    }

    .medium.two {
        grid-row: span 2;
        grid-column: span 2;
    }
    
    .large {
        grid-row: span 2;
        grid-column: span 2;
    }
    
    .tall {
        grid-row: span 3;
        grid-column: span 1;
    }
    
    .giant {
        display: none;
    }
    
    .square {
        grid-row: span 2;
        grid-column: span 3;
    }

    .square.one {
        grid-row: span 2;
        grid-column: span 4;
    }
    
    .flat {
        grid-row: span 1;
        grid-column: span 2;
    }

    .flat.one {
        grid-row: span 1;
        grid-column: span 4;
    }

    .wide {
        grid-row: span 3;
        grid-column: span 1;
    }

    .container.form {
        display: none;
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin-bottom: 25em;
    }

    .section-title {
        margin-bottom: 2em;
    }

    .section-title h1 {
        font-size: 2.3em;
        text-align: center;
    }

    .border-title {
        width: 15%;
    }

    .top-img {
        width: 100%;
    }

    .top-description {
        width: 100%;
        margin: 0;
        margin-top: 1em;
    }

    .top-description h2 {
        font-size: 1.7em;
        text-align: center;
    }

}





/*== 481px - 767px ==*/
@media only screen and (min-width: 481px) and (max-width : 767px) {

    .info {
        display: none;
    }

    .toggle {
        display: block;
    }

    .mainnav-items {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        display: none;
    }

    .active {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .banner {
        height: 100vh;
    }

    .section1 {
        padding-top: 0;
        border-top: 5px solid black;
    }

    .spotoftheweek {
        box-shadow: none;
        background: white;
        width: 90%;
    }

    .sotw-left {
        margin-top: 3em;
    }

    #kohphangan {
        margin: auto;
        width: 20em;
        height: auto;
    }

    .sotw-right {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #title-section1 {
        text-align: center;
        font-size: 1.5em;
    }

    .more-button {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .image-grid {
        margin-top: 2em;
    }
    
    .second-image-grid {
        margin-top: 1.4em;
        margin-bottom: 5em;
    }
    
    .portfolio {
        width: 90%;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(4, 1fr);
        font-size: 1em;
    }

    .small {
        display: none;
    }

    .medial {
        grid-row: span 2;
        grid-column: span 2;
    }

    .medial.one {
        grid-row: span 3;
        grid-column: span 2;
    }

    .medial.two {
        grid-row: span 3;
        grid-column: span 4;
    }

    .medial.three {
        grid-row: span 3;
        grid-column: span 3;
    }
    
    .medium {
        grid-row: span 2;
        grid-column: span 4;
    }

    .medium.two {
        grid-row: span 2;
        grid-column: span 2;
    }
    
    .large {
        grid-row: span 2;
        grid-column: span 2;
    }
    
    .tall {
        grid-row: span 3;
        grid-column: span 1;
    }
    
    .giant {
        display: none;
    }
    
    .square {
        grid-row: span 2;
        grid-column: span 3;
    }

    .square.one {
        grid-row: span 2;
        grid-column: span 4;
    }
    
    .flat {
        grid-row: span 1;
        grid-column: span 2;
    }

    .flat.one {
        grid-row: span 1;
        grid-column: span 4;
    }

    .wide {
        grid-row: span 3;
        grid-column: span 1;
    }

    .container.form {
        display: none;
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin-bottom: 20em;
    }

    .section-title {
        margin-bottom: 2em;
    }

    .section-title h1 {
        font-size: 2.3em;
        text-align: center;
    }

    .border-title {
        width: 15%;
    }

    .top-img {
        width: 100%;
    }

    .top-description {
        width: 100%;
        margin: 0;
        margin-top: 1em;
    }

    .top-description h2 {
        font-size: 1.7em;
        text-align: justify;
    }

}

@media only screen and (min-width : 768px) and (max-width: 1023px) {
    .mainnav-items {
        width: 100%;
        margin: 0;
    }

    .info-panel {
        width: 96%;
    }

    .section1 {
        padding-top: 0;
        border-top: 5px solid black;
    }

    .spotoftheweek {
        margin-top: 2em;
        width: 90%;
        flex-direction: column;
        height: 50em;
    }

    .sotw-left {
        width: 100%;
        margin-left: auto;
        margin-right: auto;

    }

    #kohphangan {
        align-self: center;
        margin: 0;
        width: 25em;
        height: auto;
    }

    .sotw-right {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #title-section1 {
        text-align: center;
        font-size: 1.5em;
    }

    .more-button {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .image-grid {
        margin-top: 2em;
    }
    
    .second-image-grid {
        margin-top: 1.4em;
        margin-bottom: 5em;
    }
    
    .portfolio {
        width: 90%;
    }

    .container.form {
        margin-top: 5em;
        width: 90%;
    }

    #form-title {
        width: 100%;
        text-align: center;
        padding-top: 1em;
        padding-bottom: 1em;
    }    

    .col.ebook {
        width: 55%;
    }
    
    .col.ebook img {
        height: 25em;
        width: auto;
        align-self: center;
    }
    
    .wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin-bottom: 15em;
    }

    .section-title {
        margin-bottom: 2em;
    }

    .section-title h1 {
        font-size: 2em;
        text-align: center;
    }

    .border-title {
        width: 15%;
    }

    .top-img {
        width: 100%;
    }

    .top-description {
        width: 100%;
        margin: 0;
        margin-top: 1em;
    }

    .top-description h2 {
        font-size: 1.7em;
        text-align: justify;
    }


}


/*===== TABLETS AND LAPTOPS =====*/
@media only screen and (min-width : 1024px) and (max-width: 1439px) {

    .info-panel {
        width: 92.5%;
    }

    .mainnav-items {
        width: 100%;
    }

    .section1 {
        width: 100%;
        padding: 0;
        padding-top: 3em;
    }
    
    .spotoftheweek {
        height: 60%;
        width: 90%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: auto;
        background: rgb(243, 243, 243);
        display: flex;
        flex-direction: row;
        margin-bottom: 1em;
    }
    
    .sotw-left {
        width: 50%;
        margin: 0;
        padding: 0;
        align-self: center;
    }
    
    #title-section1 {
        margin-top: 0.5em;
        text-align: center;
        margin-bottom: 0.5em;
        font-family: aventura;
        text-transform: uppercase;
        font-size: 2.5em;
    }
    
    #kohphangan {
        height: 15em;
        margin: 0;
        padding: 0;
    }
    
    .sotw-right {
        width: 50%;
        margin: 0;
        padding: 0;
        align-self: center;
    }
    
    .sotw-text {
        width: 90%;
        margin: auto;
    }

    .more-button {
        width: 30em;
        margin-top: 3em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
    }

    .image-grid {
        margin-top: 2em;
    }
    
    .second-image-grid {
        margin-top: 1.4em;
        margin-bottom: 5em;
    }
    
    .portfolio {
        width: 90%;
    }

    .container.form {
        margin-top: 5em;
        width: 90%;
    }

    #form-title {
        width: 100%;
        text-align: center;
        padding-top: 1em;
        padding-bottom: 1em;
    }    

    .col.ebook {
        width: 55%;
    }
    
    .col.ebook img {
        height: 25em;
        width: auto;
        align-self: center;
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin-bottom: 3em;
    }


}

@media only screen and (min-width : 1440px) and (max-width: 1919px) {

    .info-panel {
        width: 73.3%;
    }

    .mainnav-items {
        width: 80%;
    }


    .section1 {
        width: 100%;
        padding: 0;
        padding-top: 2em;
        padding-bottom: 3em;
    }
    
    .spotoftheweek {
        height: 60%;
        width: 70%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: auto;
        background: rgb(243, 243, 243);
        display: flex;
        flex-direction: row;
        margin-bottom: 2em;
    }
    
    .sotw-left {
        width: 50%;
        margin: 0;
        padding: 0;
        align-self: center;
    }
    
    #title-section1 {
        margin-top: 0.5em;
        text-align: center;
        margin-bottom: 0.5em;
        font-family: aventura;
        text-transform: uppercase;
        font-size: 2.5em;
    }
    
    #kohphangan {
        height: 15em;
        margin: 0;
        padding: 0;
    }
    
    .sotw-right {
        width: 50%;
        margin: 0;
        padding: 0;
        align-self: center;
    }
    
    .sotw-text {
        width: 90%;
        margin: auto;
    }

    .more-button {
        width: 30em;
        margin-top: 3em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
    }

    .image-grid {
        margin-top: 2em;
    }
    
    .second-image-grid {
        margin-top: 1.4em;
        margin-bottom: 5em;
    }
    
    .portfolio {
        width: 70%;
    }

    .container.form {
        margin-top: 5em;
        width: 90%;
    }

    #form-title {
        width: 100%;
        text-align: center;
        padding-top: 1em;
        padding-bottom: 1em;
    }    

    .col.ebook {
        width: 55%;
    }
    
    .col.ebook img {
        height: 30em;
        width: auto;
        align-self: center;
    }

}

@media only screen and (min-width : 1920px) {

    .info-panel {
        width: 55%;
    }

    .mainnav-items {
        width: 60%;
    }

    #form-title {
        width: 100%;
        text-align: center;
        padding-top: 1em;
        padding-bottom: 1em;
    }    
}

/*===== +4K =====*/
@media only screen and (min-width : 2560px) {
    
        .info-panel {
            width: 53.5%;
        }
    
        .mainnav-items {
            width: 60%;
        }

        .section1 {
            width: 100%;
            padding: 0;
            padding-top: 3em;
        }
        
        .spotoftheweek {
            height: 60%;
            width: 60%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin: auto;
            background: rgb(243, 243, 243);
            display: flex;
            flex-direction: row;
            margin-bottom: 10em;
        }
        
        .sotw-left {
            width: 60%;
            margin: 0;
            padding: 0;
            align-self: center;
        }
        
        #title-section1 {
            margin-top: 0.5em;
            text-align: center;
            margin-bottom: 0.5em;
            font-family: aventura;
            text-transform: uppercase;
            font-size: 2.5em;
        }
        
        #kohphangan {
            height: 20em;
            margin: 0;
            padding: 0;
        }
        
        .sotw-right {
            width: 40%;
            margin: 0;
            padding: 0;
            align-self: center;
        }
        
        .sotw-text {
            width: 60%;
            margin: auto;
        }
    
        .more-button {
            width: 30em;
            margin-top: 3em;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2em;
        }

        #form-title {
            width: 100%;
            text-align: center;
            padding-top: 1em;
            padding-bottom: 1em;
        }    
}